@media screen and (max-width:640px){

    .item h2{
        font-size: 60px;
    }
    .item h3{
        font-size: 20px;
    }
    .item h4{
        font-size: 18px;
    }
    .service_icon img{
        max-width: 292px;
        /*margin: 30px auto;*/
    }
}



@media screen and (max-width:768px){
    .contact-content{
        width: 50%;
           margin: 0 auto;
    }
    .element-item{
        width: 50%;       
    }
    
}
@media screen and (max-width:375px){
    .element-item{
        max-width: 100%;       
    }
    .contact-content{
        margin-bottom: 15px;
        margin: 0 auto;
    }
    
    
}